{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include "includes/head_tags.html" %}
</head>

<body>

  <!-- ======= Header ======= -->
  {% include "includes/header_tags.html" %}
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  {% include "includes/hero.html" %}
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <!-- End About Section -->
    {% include "includes/about.html" %}
    <!-- ======= Services Section ======= -->
    <!-- End Services Section -->
    {% include "includes/services.html" %}
    <!-- ======= Counter Section ======= -->
    {% include "includes/counters.html" %}
    <!-- End Counter Section -->

    <!-- ======= Portfolio Section ======= -->
    {% include "includes/portfolio.html" %}
    <!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    {% include "includes/testimonials.html" %}
    <!-- End Testimonials Section -->

    <!-- ======= Blog Section ======= -->
    {% include "includes/blog.html" %}
    <!-- End Blog Section -->

    <!-- ======= Contact Section ======= -->
    {% include "includes/contact.html" %}
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include "includes/footer_tags.html" %}
</body>

</html>