{% load static %}
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{% static 'img/22.png' %}" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>{{ about.name }}</span></p>
                      <p><span class="title-s">Profile: </span> <span>{{ about.profile }}</span></p>
                      <p><span class="title-s">Email: </span> <span>{{ about.email }}</span></p>
                      <p><span class="title-s">Phone: </span> <span>{{ about.phone }}</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  {% for option in skill %}
                  <span>{{ option.name_skill }}</span> <span class="pull-right">{{ option.percent_skill }}</span>
                  <div class="progress">
                   <div class="progress-bar" role="progressbar" style="width: {{ option.percent_skill }}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      {{ about.title }}
                    </h5>
                  </div>
                  <p class="lead">
                   {{ about.description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>