{% load static %}
<div class="section-counter paralax-mf bg-image" style="background-image: url('{% static "img/counters-bg.jpg" %}')">
    <div class="overlay-mf"></div>
    <div class="container position-relative">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-check"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="{{ counter.works_completed }}" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">WORKS COMPLETED</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="{{ counter.years_experience }}" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">YEARS OF EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-people"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="{{ counter.total_clients }}" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">TOTAL CLIENTS</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-award"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="{{ counter.award_won }}" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">AWARD WON</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>