{% load static %}
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfolio
            </h3>
            <p class="subtitle-a">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for item in portfolio %}
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{ item.image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="{{ item.image.url }}" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">{{ item.title }}</h2>
                  <div class="w-more">
                    <span class="w-ctegory">{{ item.category.first }}</span> / <span class="w-date">{{ item.created }}</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
			  <a href="{% url 'portfolio:work' %}"> <span class="bi bi-plus-circle"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
